<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name || @user.email %>, thanks for creating: <%= @group.name %>!</h1>
    <p>
      You have successfully created a new group and have been designated as the group's organizer. Check out some of the awesome features available for group organizers and host your 1st event!<br>
    </p>
    <p>Thanks and have a great day!</p>
    <p>CodePilots Team</p>
  </body>
</html>