<div class="col-md-7">
  <div class="widget pages-widget"><!-- Pages widget -->
    <div class="widget-head br-custom-blue">
      <h2 class="link-style no-hov">Events</h2>
    </div>
    
    <div class="widget-body no-padd">
      <div class="table-responsive">
        <table class="table table-bordered">
          <!-- Table heading -->
          <tr> 
            <th><input type="checkbox"></th>
            <th>Event</th>
            <th>Date</th>
            <th>Location</th>
          </tr>
          <% @group.events.each do |event| %>
            <tr>
              <td><input type="checkbox"></td><!-- Check box -->
              <td><%= event.name %></td><!-- Event Name -->
              <td><%= pretty_datetime(event.starts_at) %></td><!-- Date -->
              <td><%= event.location %></td><!-- Location -->
            </tr>
          <% end %>
        </table>
      </div><!--/table-responsive-->
    </div><!--/widget-body-->
    
    <div class="widget-foot">
      <span class="pull-left">
        <a href="#" class="btn btn-default btn-sm">Add New Event</a> &nbsp; 
        <a href="#" class="btn btn-danger btn-sm">Delete All</a>
      </span>
      <div class="pull-right">
        <!-- Pagination -->
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div><!-- /widget foot -->

  </div><!-- /pages widget -->
</div>