<div class="col-md-5">
  <!-- Contacts widget -->
  <div class="widget contacts-widget">
    
    <div class="widget-head br-custom-blue">
      <h2 class="link-style dark">Current Members</h2>
    </div>
    
    <div class="widget-body scroll">
      
      <ul class="list-unstyled">
        <div class="clearfix"></div>
        
          <% @group.users.each do |user| %>
            <li class="c-list">
              <!-- Contact pic -->
              <div class="contact-pic">
              <!--TODO: adjust for each member's avatar, not current_user-->
                <img src='<%= user.avatar_url %>' alt="" class="img-responsive img-circle">
              </div>
              <!-- Contact details -->
              <div class="contact-details">
                <!-- Contact name and number -->
                <div class="pull-left">
                  <strong><%= link_to user.first_name || user.email, user_profile_path(user) %></strong>
                  <small><%= user.phone_number || "Phone Number" %></small>
                </div>
                <!-- Call, Message and Email buttons -->
                <div class="pull-right">
                  <a href="#"><i class="fa fa-envelope fa-lg"></i></a>
                </div>
                <div class="clearfix"></div>
              </div>
            </li>
          <% end %>

      </ul>
    </div><!--/widget-body-scroll-->
    
    <div class="widget-foot">
      <h4 class="pull-left">1 Member(s)</h4>
      
      <%= link_to "Invite a Friend", invite_path(@group), class: "btn br-lgreen sub-button pull-right" %>
      <div class="clearfix"></div>
    </div>
    
  </div><!--/widget-->
</div>