<div class="main-content">
  <div class="container">
    <div class="page-content">
  		<div>
        	<h3>Create a New Group</h3>
      	</div>
      
      	<div class="divider"></div>

		<div class="well well-lg">
          	
          	<%= render 'form' %>
            <%= link_to 'Skip this Step for Now', user_dashboard_path(current_user) %>

			
		</div><!--/well well-lg-->
	</div><!--/page-content-->
  </div><!--/container-->
</div><!--/main-content-->
