<div class="main-content">
	<div class="container">
		
  		<div><h1 class="dash-title group"><i class="fa fa-chevron-right"></i>Admin Area: <%= @group.name %></h1></div>

      <div class="divider dark"></div>
			<div class="row">

				<%= render 'group_dashboard_events' %>

				<%= render 'group_dashboard_members' %>

			</div><!--/row-->
		
	</div><!--/container-->
</div><!--/main-content-->