<div class="main-content">
	<div class="container">
						
		<div class="page-content">
		
			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h3 class="pull-left"><%= @group.name %>'s Members:</h3>
				<div class="clearfix"></div>
			</div>
			
			
		</div>
		
	</div>
</div>