<div class="main-content">
	<div class="container">
						
		<div class="page-content">
		
			<!-- Heading -->
			<h3 class="pull-left"><%= @group.name %>'s events:</h3>
			<div class="clearfix"></div>
      
      <div class="divider"></div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <!-- Table heading -->
          <tr> 
            <th>Event Name</th>
            <th>Description</th>
            <th>RSVPS</th>
          </tr>
          <% @events.each do |event| %>
            <tr>
              <td><%= link_to "#{event.name}", group_events_path(event) %></td>
              <td><%= event.description %></td>
              <td><%= event.rsvps.count %></td>
            </tr>
          <% end %>
        </table>
      </div>
			
			
		</div>
		
	</div>
</div>