<div class="main-content">
	<div class="container">
		<div class="page-content">
  		<div><h3>Dashboard: <%= @group.name %></h3></div>

      <div class="divider"></div>
			<div class="row">

				<%= render 'group_dashboard_events' %>

				<%= render 'group_dashboard_members' %>

			</div><!--/row-->
		</div><!--/page-content-->
	</div><!--/container-->
</div><!--/main-content-->