<div class="main-content">
	<div class="container">
						
		<div class="page-content">
		
			<!-- Heading -->
			<div class="single-head">
				<!-- Heading -->
				<h3 class="pull-left">Popular STARTCLT Groups</h3>
				<div class="clearfix"></div>
			</div>
		
		<% @groups.each do |group| %>
			<p><%= link_to "#{group.name}", group_info_path(group) %></p>
		<% end %>
			
		</div>
		
	</div>
</div>