<div class="main-content">
	<div class="container">
		<div>
			<h1 class="dash-title group">Popular STARTCLT Groups</h1>
		</div>
			
		<div class="divider"></div>
		
		<div class="">
			<div class="page-content">
				<table class="table table-hover">
					<thead class="br-black">
						<td class="white">GROUP NAME</td>
						<td class="text-center white">MEMBERS</td>
						<td class="text-center white">DATE CREATED</td>
					</thead>
						<tr><% @groups.each do |group| %></tr>
							<td><%= link_to "#{group.name}", group_info_path(group) %></td>
							<td class="text-center"><%= group.memberships.count %></td> 
							<td class="text-center"><%= group.created_at.strftime("%b %d, %Y") %></td>
						<% end %>
				</table>
			</div>
		</div>
	</div>
</div>