

<div class="col-sm-6">
  <!-- Pages widget -->
  <div class="widget pages-widget">
    
    <div class="widget-head br-black">
      <h2 class="link-style no-hov">Your Groups</h2>
    </div>
    
    <div class="widget-body no-padd">
      
      <div class="table-responsive">
        <table class="table table-bordered">
          <!-- Table heading -->
          <tr> 
            
            <th colspan="2"><span class="spacer">Group Name</span></th>
            <th class="text-center">Members</th>
            <th class="text-center">Status</th>
          </tr>
          <% current_user.groups.each do |group| %>
            <tr>
              <td class="text-center"><input type="checkbox"></td>
							<td><%= link_to group.name, group_path(group) %></td>
              <td class="text-center"><%= group.memberships.count %></td>
              <td class="text-center"><span class="badge badge-success"><%= @user.user_membership_role_at_group_join(group, @user).upcase %></span></td>
            </tr>
          <% end %>
        </table>
      </div>
      
    </div>
    
    <div class="widget-foot">
      <span class="pull-left">
        <%= link_to 'Join Another Group', popular_groups_path, class: 'btn br-custom-blue sub-button' %>&nbsp; 
        <a href="#" class="btn btn-default sub-button">Leave This Group</a>
      </span>
      <div class="clearfix"></div>
    </div>
    
  </div>

</div>
