<div class="col-md-5">
  <div class="widget pages-widget">
    <div class="widget-head br-black">
      <h2 class="link-style no-hov">Your Events</h2>
    </div>

    <div class="widget-body no-padd">
      <div class="table-responsive">
        <table class="table table-bordered">
          <% if current_user.rsvps.count >= 1 %>
            <!-- Table heading -->
            <tr> 
              <th><input type="checkbox"></th>
              <th>Event</th>
              <th>Date</th>
              <th>Location</th>
            </tr>
            <% current_user.rsvps.each do |rsvp| %>
              <% event = Event.find(rsvp.event_id) %>
              <tr>
                <td><input type="checkbox"></td><!-- Check box -->
                <td><%= event.name %></td><!-- Event Name -->
                <td><%= pretty_datetime(event.starts_at) %></td><!-- Date -->
                <td><%= event.location %></td><!-- Location -->
              </tr>  
            <% end %>
          <% else %>
            <center><strong>You haven't made any RSVPs yet.</strong></center>
          <% end %>
        </table>
      </div><!--/table-responsive-->
    </div><!--/widget-body-->

    <div class="widget-foot">
      <span class="pull-left">2 Events</span>
      <a href="#" class="btn btn-sm pull-right br-white">Add New Event</a>
      <div class="clearfix"></div>
    </div><!-- /widget foot -->
    
  </div>
</div><!-- /col-md -->