<div class="main-content">
	<div class="container">
		<div><h3>User Dashboard For: <%= @user.email %></h3></div>
      
      		<div class="divider"></div>
			<div class="row">

			<%= render 'user_dashboard_groups' %>
			
			<%= render 'user_dashboard_events' %>

		</div>
	</div>
</div>