<div class="main-content">
	<div class="container">

		<h1>This is a sample user dashboard for <%= @user.email %></h1>
		<div class="row">

			<%= render 'user_dashboard_groups' %>
			
			<%= render 'user_dashboard_events' %>

		</div>
	</div>
</div>