<div class="main-content">
	<div class="container">
		<div><h1 class="dash-title user">Account Info For: <%= current_user.first_name || current_user.email %></h1></div>
      
      		<div class="divider"></div>
			<div class="row">

			<%= render 'user_dashboard_groups' %>
			
			<%= render 'user_dashboard_events' %>

		</div>
	</div>
</div>