<div class="row">
	<div class="col-sm-10">
		<h3 class="event-name"><strong><u><%= link_to event.name, group_event_path(@group, event), class: "link-style-dark" %></u></strong></h3>
		<p><%= event.description %></p>
		<br>
		<p><strong>When: &nbsp;</strong><%= pretty_datetime(event.starts_at) %></p>
		<p><strong>Where: </strong><%= event.address %></p>
	</div>
</div>