<div class="main-content">
    <div class="container">
      <div class="page-content">
    		<div>
          	<h1 class="dash-title group">Create a New Event For: <%= @group.name %></h1>
        	</div>
        
        	<div class="divider"></div>

  		    <div class="well well-lg">

				<%= render 'form' %>

			</div><!--/well well-lg-->
  	   </div><!--/page-content-->
    </div><!--/container-->
</div><!--/main-content--
