// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-info {
	margin:5px;
}

.org-name {
	font-family:FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
	text-transform:uppercase;
	margin-top:14px;
	color:#6183A6;
}

.rsvp-count {
  font-family:FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
  color: limegreen;
  float: right;
  margin-top: 25px;
  font-size: 3em;
}

.map {
	height:300px;
	margin:25px 0px;
}

.concluded {
  font-family:FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
  color: pink;
  border: solid pink 5px;
  // border-radius: 15%;
  font-size: 3em;
  transform: rotate(-25deg);
}

.event-name {
	margin-top:20px;
}