// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dash-title.group {
	color:#444;
	padding-top:5px;
	font-family: FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
}

.link-style.dark {
	color:#080808;
}

.link-style.join:hover {
	color:#26466D;
}

.divider.dark {
	background-color:#555;
}

.fa.fa-chevron-right, .fa.fa-envelope {
	color:#444;
}

.fa.fa-envelope {
	margin-top:25%;
}

.groups-background {
	background-color:#6183A6;
	height:100vh;
}

.divider {
	height:4px;
	background-color:#999;
}

.btn.br-dark-blue:hover {
	color:#999;
	color:#93BCE6;
}

.event-name, .group-name {
	padding-bottom:10px;
}

.attending {
	color:limegreen;
	text-transform:uppercase;
	margin-top:30px;
}

.vert-cent {
	margin-top:20px;
}