@font-face {
font-family: 'FjallaOne-Regular';
src: url(font-path('FjallaOne-Regular.ttf'));
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'FontAwesome';
src: url(font-path('fontawesome-webfont.eot'));
src: url(font-path('fontawesome-webfont.eot?#iefix')) format('embedded-opentype'),
       url(font-path('fontawesome-webfont.woff')) format('woff'),
       url(font-path('fontawesome-webfont.ttf')) format('truetype'),
       url(font-path('fontawesome-webfont.svg#fontawesomeregular')) format('svg');
font-weight: normal;
font-style: normal;
}

.navbar {
	background-color:transparent;
	margin-bottom:0px;
	padding:20px 20px 12px 0px;
	z-index:2;
}

.nav_item {
	display:inline-block;
	opacity:1.0;
	background-color:transparent;
}

.link-style {
	text-transform:uppercase;
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px;
	color:#fff;
	margin-right:20px;
}

.link-style:hover {
	color:#FBEC5D;
}

.link-style.no-hov {
	color:#fff;
}

.link-style.dark {
	color:#555;
}

.link-style.dark:hover {
	color:#F5F5F5;
}

.link-style.dark.no-hov {
	color:#555;
}

#welcome { display:inline-block; }

#header { 
	position:relative; 
	bottom:78px;
}

#header img { width:100%; }

.overlay {
	width:100%;
	height:18%;
	position:absolute;
	bottom:15%;
	background-color:#080808;
	opacity:0.5;
}

.header-text {
	font-size:55px;
	margin-bottom: -15px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	font-family: FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
}

.textbox {
	position:absolute;
	bottom:24%;
}

.homepage-content { margin-top: -45px; }

.container.feature {
	padding-top:6%;
	padding-bottom:6%;
}

.divider {
	height:4px;
	background-color:#999;
}

.call-to-action {
	margin-top:6%;
	margin-bottom:2%;
}

.custom {
	height:1px;
	background-color:#080808;
	width:90%;
}

.fa {
	margin-right:5px;
	color:#DEB887;
	color:#C48E48;
}

.fa.fa-user {
	color:#5c7a9e;
	color:#555;
}

.feature-title {
	font-size:24px;
	font-weight:600;
	margin-bottom:14px;
	color:#5c7a9e;
	font-family: FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
}

.container.feature.desk {
	background-image: image-url("clipboard.jpg");
	background-image: image-url("desk-cropped.jpg");
	width:90%;
	min-height:450px;
}

.container.feature.room{
	background-image: image-url("big-window.jpg");
	background-image: image-url("badges-warm.jpg");
	width:90%;
}

.backfill {
	background-color:#fff;
	opacity:0.7;
	border-radius:3px;
	padding:10px;
}

.feature-title.front {
	color:#344152;
}

p.explain.front {
	color:#222;
}

.jumbotron.city {
	background-image: image-url("charlotte-cropped.jpg");
	min-height:525px;
}

.br-custom-blue {
	background-color:#93BCE6;
}

footer { 
	margin-top:-30px;
	padding-bottom:30px;
	background-color:#444;
	color:#fff;
}

.outer-page.pic {
	background-image: image-url("charlotte-bw-full.jpg");
	height: 100vh;
}
