/* User SideBar */

.sidebar.user {
	background-color:#333;
}

div .sidey {
	height:100%;
}

.sidelink {
	font-size:16px;
}

li.bordered {
	border-bottom: 1px solid #828282;
}

/* Group SideBar */

.sidebar.group {
	background-color:#6183A6;
	height:150%;
}

li.bordered.blue {
	border-bottom: 1px solid #B7C3D0;
}

