/* User SideBar */

div .sidey {
	height:100%;
}

.sidelink {
	font-size:16px;
}

li.bordered {
	border-bottom: 1px solid #828282;
}

/* Group SideBar */

.sidebar.other {
	background-color:#6183A6;
}

li.bordered.blue {
	border-bottom: 1px solid #B7C3D0;
}

