.dash-title.user {
	color:#444;
	padding-top:5px;
	font-family: FjallaOne-Regular,"Helvetica Neue", Helvetica,Arial,sans-serif;
}

.sub-button {
	color:#444;
	font-size:14px;
	text-transform:uppercase;
	padding-top:8px;
}

.sub-button:hover, .sub-button.create {
	color:#fff;
}

.spacer {
	padding-left:40px;
}

.badge.badge-success{
	font-size:14px;
}
