.profile-item {
	margin:15px 0px;
}

.img-thumbnail.profile {
	height:150px;
	width:150px;
}

.divider  {
	margin-top:1%;
	margin-bottom:3%;
}

#error_explanation {
	background-color:#FFFFAA;
	padding:8px 8px 0px 8px;
	border-radius:3px;
}

#error_explanation > h2 {
	font-size:20px;
	margin:5px;
}

.divider.spacer {
	margin-top:20px;
}