<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <hr>
        <p><%= link_to 'TTS CodePilots', about_path, class: 'link-style'%><span class="year">©2015</span></p>
        <p class="link-style"><a class="lightblue" href="#" title="Scroll to Top">Back to Top</a></p>
      </div>
    </div>
  </div>
</footer>