<!-- Sidebar starts -->
  <div class="sidebar other">
  
    <div class="sidey">
  
      <!-- Logo -->
      <div class="logo">
        <h1><a href="/dashboard/user/<%= current_user.slug %>">Start CLT <span>Get Together</span></a></h1>
      </div>
      
      <!-- Sidebar navigation starts -->
      
      <!-- Responsive dropdown -->
      <div class="sidebar-dropdown"><a href="#" class="br-black"><i class="fa fa-bars"></i>Tasks</a></div>
      
      <div class="side-nav">
        
        <div class="side-nav-block">
          <p class="link-style no-hov">Tasks</p>
          <ul class="list-unstyled">
            <li class="bordered blue"><%=link_to 'Create a Group', new_group_path, class: 'lightlink' %></li>
            
          </ul>
        </div>
        
        
      </div>
      
      <!-- Sidebar navigation ends -->
      
    </div>
  </div>
<!-- Sidebar ends -->