<div class="sidebar group"><!-- Sidebar starts -->
  <div class="sidey">

    <div class="logo"><!-- Logo -->
      <h1><%= link_to 'Start CLT', user_dashboard_path(current_user) %></h1>
    </div>
    
    <div class="sidebar-dropdown"><a href="#" class="br-black"><i class="fa fa-bars"></i>Tasks</a></div><!-- Responsive dropdown -->

    <div class="side-nav"><!-- Sidebar navigation starts -->
      <div class="side-nav-block">
        <p class="link-style no-hov">Tasks</p>
        <ul class="list-unstyled">
          <li class="bordered blue"><%=link_to 'Create a Group', new_group_path, class: 'lightlink' %></li>
          <li class="bordered blue"><%=link_to 'Create an Event', new_group_event_path(@group), class: 'lightlink' %></li>
        </ul>
      </div>
    </div><!-- Sidebar navigation ends -->
    
  </div>
</div><!-- Sidebar ends -->