<!-- Sidebar starts -->
  <div class="sidebar">
  
    <div class="sidey">
  
      <!-- Logo -->
      <div class="logo">
        <h1><a href="/dashboard/user/<%= current_user.slug %>">Start CLT <span>Get Together</span></a></h1>
      </div>
      
      <!-- Sidebar navigation starts -->
      
      <!-- Responsive dropdown -->
      <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i>Menu</a></div>
      
      <div class="side-nav">
        
        <div class="side-nav-block">
          <h4>Menu</h4>
          <ul class="list-unstyled">
            <li style="border-bottom: 1px solid #444;"><%= link_to "Create a Group", new_group_path %></li>
            
            <li><%= link_to 'My Events', user_events_path(current_user) %></li>
          </ul>
        </div>
        
        <div class="side-nav-block">
          <h4>Other</h4>
          <ul class="list-unstyled">
            <li><%= link_to "Popular Groups", popular_groups_path %></li>
          </ul>
        </div>
        
      </div>
      
      <!-- Sidebar navigation ends -->
      
    </div>
  </div>
<!-- Sidebar ends -->