<!-- Sidebar starts -->
  <div class="sidebar">
  
    <div class="sidey">
  
      <!-- Logo -->
      <div class="logo">
        <h1><a href="/dashboard/user/<%= current_user.slug %>">Start CLT <span>Get Together</span></a></h1>
      </div>
      
      <!-- Sidebar navigation starts -->
      
      <!-- Responsive dropdown -->
      <div class="sidebar-dropdown"><a href="#" class="br-red"><i class="fa fa-bars"></i>Menu</a></div>
      
      <div class="side-nav">
        
        <div class="side-nav-block">
          <p class="link-style no-hov">Tasks</p>
          <ul class="list-unstyled">
            <li class="bordered"><%= link_to "Create a Group", new_group_path, class: 'sidelink' %></li>
            
            <li class="bordered"><%= link_to 'My Events', user_events_path(current_user), class: 'sidelink' %></li>
          </ul>
        </div>
        
        <div class="side-nav-block">
          <p class="link-style no-hov">Other</p>
          <ul class="list-unstyled">
            <li class="bordered"><%= link_to "Popular Groups", popular_groups_path, class: 'sidelink' %></li>
          </ul>
        </div>
        
      </div>
      
      <!-- Sidebar navigation ends -->
      
    </div>
  </div>
<!-- Sidebar ends -->